In [55]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

Data dictionary
Species        category
SepalLength       Int64
SepalWidth        Int64
PetalLength       Int64
PetalWidth        Int64

In [69]:
data_types = {
    'Row_N0':     'Int64',
    'Sample': 'Int64',
    'F1':  'Int64',
    'F2':  'Int64',
    'F3':  'Int64',
    'F4':  'Int64',
    'Class':  'Int64'
}

file_path='/home/elcaskerito/Documents/Stevens/ml_eda_AI_stevens_institute_tech/file/HW_03_knn_BC_pfizer.csv'

# # Read CSV file with appropriate handling of missing values
df = pd.read_csv(file_path, na_values='?',dtype=data_types)

## Loading iris
# df = pd.read_csv('C:/Users/kdehn/OneDrive - stevens.edu/___Data/CSV_files/iris.csv',)

print(df.describe())
# #data preprocessing
## df['Species'] = pd.Categorical(df['Species'])  # convert Species column to categorical data type if needed
df.head(30)

         Row_N0          Sample        F1        F2        F3        F4  \
count      30.0            30.0      30.0      30.0      30.0      30.0
mean       15.5  1041365.133333  4.433333       2.6  2.666667  2.533333
std    8.803408    20238.647148   2.68692  2.485822   2.48212  2.700362
min         1.0       1000025.0       1.0       1.0       1.0       1.0
25%        8.25      1022190.25       2.0       1.0       1.0       1.0
50%        15.5       1046101.0       4.0       1.0       1.0       1.0
75%       22.75      1056236.25       6.0      3.75      3.75       3.0
max        30.0       1070935.0      10.0      10.0      10.0      10.0

          Class
count      30.0
mean        2.6
std    0.932183
min         2.0
25%         2.0
50%         2.0
75%         4.0
max         4.0

    Row_N0   Sample  F1  F2  F3  F4  Class
0        1  1000025   5   1   1   1      2
1        2  1002945   5   4   4   5      2
2        3  1015425   3   1   1   1      2
3        4  1016277   6   8   8   1      2
4        5  1017023   4   1   1   3      2
5        6  1017122   8  10  10   8      4
6        7  1018099   1   1   1   1      2
7        8  1018561   2   1   2   1      2
8        9  1033078   2   1   1   1      2
9       10  1033078   4   2   1   1      2
10      11  1035283   1   1   1   1      2
11      12  1036172   2   1   1   1      2
12      13  1041801   5   3   3   3      4
13      14  1043999   1   1   1   1      2
14      15  1044572   8   7   5  10      4
15      16  1047630   7   4   6   4      4
16      17  1048672   4   1   1   1      2
17      18  1049815   4   1   1   1      2
18      19  1050670  10   7   7   6      4
19      20  1050718   6   1   1   1      2
20      21  1054590   7   3   2  10      4
21      22  1054593  10   5   5   3      4
22      23  1056784   3   1   1   1      2
23      24  1057013   8   4   5   1      4
24      25  1059552   1   1   1   1      2
25      26  1065726   5   2   3   4      4
26      27  1066373   3   2   1   1      2
27      28  1066979   5   1   1   1      2
28      29  1067444   2   1   1   1      2
29      30  1070935   1   1   3   1      2

In [70]:
df.dtypes

Row_N0    Int64
Sample    Int64
F1        Int64
F2        Int64
F3        Int64
F4        Int64
Class     Int64
dtype: object

In [ ]:
# df = df.dropna() # drops NaN values 
# print(df[df.isna().any(axis=1)]) # shows NaN values in data frame if it exists

# Splitting the dataset

# df = df.drop(columns = ['Class'])  # features
# target = df['Class']  # target variable

testSet = df.iloc[[5, 11, 17,23, 29]]

trainSet = df.drop(index=[5, 11, 17,23, 29])


print(trainSet)



print('\n--------------------------------------- *test set start here*-------------------------- \n')



print(testSet.head(5))
# df.head(10)
# print(testSet)

    Row_N0   Sample  F1  F2  F3  F4  Class
0        1  1000025   5   1   1   1      2
1        2  1002945   5   4   4   5      2
2        3  1015425   3   1   1   1      2
3        4  1016277   6   8   8   1      2
4        5  1017023   4   1   1   3      2
6        7  1018099   1   1   1   1      2
7        8  1018561   2   1   2   1      2
8        9  1033078   2   1   1   1      2
9       10  1033078   4   2   1   1      2
10      11  1035283   1   1   1   1      2
12      13  1041801   5   3   3   3      4
13      14  1043999   1   1   1   1      2
14      15  1044572   8   7   5  10      4
15      16  1047630   7   4   6   4      4
16      17  1048672   4   1   1   1      2
18      19  1050670  10   7   7   6      4
19      20  1050718   6   1   1   1      2
20      21  1054590   7   3   2  10      4
21      22  1054593  10   5   5   3      4
22      23  1056784   3   1   1   1      2
24      25  1059552   1   1   1   1      2
25      26  1065726   5   2   3   4      4
26      27  1066373   3   2   1   1      2
27      28  1066979   5   1   1   1      2
28      29  1067444   2   1   1   1      2

--------------------------------------- *test set start here*--------------------------

    Row_N0   Sample  F1  F2  F3  F4  Class
5        6  1017122   8  10  10   8      4
11      12  1036172   2   1   1   1      2
17      18  1049815   4   1   1   1      2
23      24  1057013   8   4   5   1      4
29      30  1070935   1   1   3   1      2

In [84]:
from sklearn.preprocessing import MinMaxScaler
# Initialize MinMaxScaler
scaler = MinMaxScaler()
# Fit and transform the data
trainSet = pd.DataFrame(scaler.fit_transform(trainSet), columns=trainSet.columns)

print('\n--------------------------------------- *Scalling the data*-------------------------- \n')
trainSet.head()

--------------------------------------- *Scalling the data*--------------------------

     Row_N0    Sample        F1        F2        F3        F4  Class
0  0.000000  0.000000  0.444444  0.000000  0.000000  0.000000    0.0
1  0.035714  0.043311  0.444444  0.428571  0.428571  0.444444    0.0
2  0.071429  0.228422  0.222222  0.000000  0.000000  0.000000    0.0
3  0.107143  0.241060  0.555556  1.000000  1.000000  0.000000    0.0
4  0.142857  0.252125  0.333333  0.000000  0.000000  0.222222    0.0

In [88]:

train_trainSet,test_trainSet, train_testSet, test_testSet = train_test_split(trainSet, testSet,test_size = 0.10, random_state = 7, shuffle = True)

ValueError: Found input variables with inconsistent numbers of samples: [25, 5]

In [50]:
# from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
k_values = [1,2,3]

# for i in range(1,20):
#     print(i)
 
for k in k_values:
    knn = KNeighborsClassifier(n_neighbors = k)
#     knn = KNeighborsClassifier(n_neighbors = k,weights='distance')
    knn.fit(train_trainSet, train_testSet)
    target_pred = knn.predict(test_trainSet)
#     accuracy = round(np.mean(target_test==target_pred ) * 100, 2)
    accuracy = accuracy_score(test_testSet,target_pred ) 
    print(f'Accuracy of model with k = {k}: {accuracy}')
    print('')

ValueError: Unknown label type: continuous-multioutput. Maybe you are trying to fit a classifier, which expects discrete classes on a regression target with continuous values.

In [9]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

cm=confusion_matrix(target_test, target_pred)

print('Confusion Matrix')
print(confusion_matrix(target_test, target_pred))
print()
print('Accuracy score')
print(accuracy_score(target_test, target_pred))
print()
print('Classification Report')
print(classification_report(target_test, target_pred))

Confusion Matrix
[[13  0  0]
 [ 0 12  0]
 [ 0  1 12]]

Accuracy score
0.9736842105263158

Classification Report
              precision    recall  f1-score   support

      Setosa       1.00      1.00      1.00        13
  Versicolor       0.92      1.00      0.96        12
   Virginica       1.00      0.92      0.96        13

    accuracy                           0.97        38
   macro avg       0.97      0.97      0.97        38
weighted avg       0.98      0.97      0.97        38

In [17]:
# target_pred.head()
test_actual=attr_test
test_actual['target_pred']=target_pred
test_actual['test_actual']=target_test
test_actual.head()

,SepalLength,SepalWidth,PetalLength,PetalWidth,target_pred,target_test,target_actual,test_actual
9,0.194444,0.625000,0.101695,0.208333,Setosa,Setosa,Setosa,Setosa
36,0.194444,0.625000,0.050847,0.083333,Setosa,Setosa,Setosa,Setosa
8,0.027778,0.500000,0.050847,0.041667,Setosa,Setosa,Setosa,Setosa
137,0.861111,0.333333,0.864407,0.750000,Virginica,Virginica,Virginica,Virginica
136,0.722222,0.500000,0.796610,0.916667,Virginica,Virginica,Virginica,Virginica

In [18]:
#IV.	Displaying the frequency table of “PetalLength” vs. Species

freq_table =pd.crosstab( test_actual['test_actual'], test_actual['target_pred'])
print("Confusion Matrix")
print(freq_table)

target_pred  Setosa  Versicolor  Virginica
test_actual
Setosa           13           0          0
Versicolor        0          12          0
Virginica         0           1         12

## Stop here. We do not use the code below

In [ ]:
from sklearn.datasets import load_iris
iris_data = load_iris()
type(iris_data)

In [ ]:
  
# # IMPORT THE IRIS DATA FROM THE 
# # SKLEARN MODULE
# from sklearn.datasets import load_iris
  
# # LOAD THE IRIS DATASET BY CALLING
# # THE FUNCTION
# iris_data = load_iris()
 
  
# # PLACE THE IRIS DATA IN A PANDAS
# # DATAFRAME
# attr = pd.DataFrame(data=iris_data.data, 
#                   columns=iris_data.feature_names)
# target =pd.DataFrame({'Species': iris_data.target})

# # DISPLAY FIRST 5 RECORDS OF THE 
# # DATAFRAME
# target.head()
# attr.head(10)